{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<h2>History</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Type</th>
                <th>Price</th>
                <th>Total</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
        {% for asset in assets %}
            <tr>
                <td>{{ asset.symbol }}</td>
                <td>{{ asset.name }}</td>
                <td>{{ asset.shares }}</td>
                <td>{{ asset.type }}</td>
                <td>{{ asset.price | usd}}</td>
                <td>{{ (asset.shares * asset.price) | usd}}</td>
                <td>{{ asset.time }}</td>
            </tr>
            {% endfor %}
    </table>
{% endblock %}